* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  body {
    /* color: white; */
    background-color: rgb(243, 236, 231);
  }
}

*::-webkit-scrollbar {
  width: 5px;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}