* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  body {
    /* color: white; */
    background-color: rgb(243, 236, 231);
  }
}
