.cat-edit-btn {
  cursor: pointer;
  opacity: 40%;
}

.cat-edit-btn:hover {
  transition: 0.2s ease-in-out;
  opacity: 100%;
}

.name-edit-window {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.name-edit-window > form {
  gap: 5px;
  width: 150px;
}

.cat-del-btn {
  cursor: pointer;
  opacity: 60%;
}