#dashboard-adjustments {
  cursor: pointer;
}

#dashboard-adjustments:hover {
  transition: 0.2s ease-in-out;
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}

.notifications-window {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.notif-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 15px;
}

#all-notes-p {
  margin-top: 10px;
  margin-left: 38px;
}

#notif-freq-n {
  width: 30px;
  margin: 0px 5px;
}

#notif-now-btn {
  width: 70px;
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  padding: 0px 5px;
  display: flex;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

#notif-now-btn:hover {
  transition: 0.2s ease-in-out;

  background-color: lightgray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
