.cat-color-btn {
  cursor: pointer;
  opacity: 30%;
  transition: 0.5s ease-in-out;
}
.cat-color-btn:hover {
  transition: 0.2s ease-in-out;
  opacity: 100%;
}

.color-picker-window {
  display: flex;
  gap: 5px;
  padding: 10px;
  border-radius: 15px;
}

.color-picker-window > button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.cp-r {
  background-color: rgb(255, 198, 198);
}

.cp-g {
  background-color: rgb(215, 255, 215);
}

.cp-b {
  background-color: rgb(209, 209, 255);
}

.cp-y {
  background-color: rgb(255, 255, 215);
}