.cat-color-btn {
  cursor: pointer;
  opacity: 30%;
  transition: 0.5s ease-in-out;
}
.cat-color-btn:hover {
  transition: 0.2s ease-in-out;
  opacity: 100%;
}

.color-picker-window {
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.color-picker-window > button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid grey;
}

.color-picker-window > button:hover {
  /* border: 1px solid rgb(0, 0, 0); */
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 5px rgb(68, 68, 68);
}

.cp-def {
  background-color: rgb(255, 255, 255);
}
.cp-grey {
  background-color: rgb(217, 217, 217);
}
.cp-r {
  background-color: rgb(255, 169, 169);
}

.cp-g {
  background-color: rgb(177, 255, 177);
}

.cp-b {
  background-color: rgb(192, 192, 255);
}

.cp-c {
  background-color: rgb(192, 246, 255);
}

.cp-y {
  background-color: rgb(255, 255, 180);
}

.cp-o {
  background-color: rgb(255, 215, 170);
}

.cp-p {
  background-color: rgb(255, 185, 255);
}
