#dashboard-adjustments {
  cursor: pointer;
}

#dashboard-adjustments:hover {
  transition: 0.2s ease-in-out;
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}

.notifications-window {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.notif-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

#all-notes-p {
  margin-top: 10px;
  margin-left: 38px;
}

#notif-freq-n {
  width: 30px;
  margin: 0px 5px;
  pointer-events: none;
  border: 2px solid lightgray;
}

#notif-now-btn {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 3px 5px;
  display: flex;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

#notif-now-btn:hover {
  transition: 0.2s ease-in-out;

  background-color: lightgray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.strike {
  text-decoration: line-through;
}

/* #block-screen {
position: absolute;
bottom: 21px;
width: 175px;
height: 30px;
 background: repeating-linear-gradient(
  45deg,
  rgb(255, 0, 0, 0.2),
  rgb(255, 0, 0, 0.2) 5px,
  rgba(0, 0, 0, 0) 5px,
  rgba(0, 0, 0, 0) 10px
  );
} */
