.item-edit-btn {
  color: rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.item-edit-btn:hover {
  transition: 0.2s ease-in-out;
  opacity: 60%;
}

.item-edit-window {
  display: flex;
  gap: 5px;
  padding: 10px;
  border-radius: 15px;
}

.item-edit-window > form {
  gap: 5px;
  width: 150px;
}
