.item-edit-btn {
  opacity: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.item-edit-window {
  display: flex;
  gap: 5px;
  padding: 10px;
  border-radius: 15px;
}

.item-edit-repeat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: small;
}

.item-freq-window {
  display: flex;
justify-content: space-around;
}

.item-freq-window > input {
  width: 40px;
}