.cat-edit-btn {
  cursor: pointer;
  opacity: 30%;
  transition: 0.5s ease-in-out;
}
.cat-edit-btn:hover {
  transition: 0.2s ease-in-out;
  opacity: 100%;
}

.color-edit-window {
  display: flex;
  gap: 5px;
  padding: 10px;
  border-radius: 15px;
}
