#about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  user-select: none;
}

#about-llama-pic {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  overflow: none;
}

#llama-pic {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
}

#about-title {
  margin-bottom: 20px;
}

#about-title > h3 {
  margin-top: 80px;
  color: black;
  font-weight: 300;
  text-shadow: 1px 1px white;
}

#about-title > p {
  margin-bottom: 20px;
  text-shadow: 1px 1px white;
}

#about-container > ul {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  /* background-color: red; */
  margin: 20px;
  /* margin-bottom: 50px; */
}

#about-container > ul > li {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-basis: 30%;
  flex-grow: 1;
  user-select: none;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  border: 2px dashed rgba(255, 255, 255, 50);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  padding: 20px;
}

#about-container > ul > li:hover {
  color: rgba(0, 0, 0);
  background-color: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);

  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 875px) {
  #about-container > ul {
    gap: 30px;
  }

  #about-container > ul > li {
    flex-basis: 100%;
  }
}
