.Category {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px grey;
}

.cat-def {
  background-color: rgb(255, 255, 255);
}
.cat-grey {
  background-color: rgb(206, 206, 206);
}
.cat-red {
  background-color: rgb(255, 202, 202);
}
.cat-green {
  background-color: rgb(200, 255, 200);
}
.cat-blue {
  background-color: rgb(203, 203, 255);
}
.cat-yellow {
  background-color: rgb(255, 255, 199);
}
.cat-orange {
  background-color: rgb(255, 227, 199);
}
.cat-purple {
  background-color: rgb(255, 199, 252);
}
.cat-cyan {
  background-color: rgb(199, 248, 255);
}

.cat-header {
  background-color: rgb(224, 224, 224, 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  padding: 5px 15px;
}

.cat-buttons {
  display: flex;
  gap: 10px;
}

.cat-content {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.cat-content-footer {
  margin: 15px 10px 10px;
}

.new-item-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#input-new-item {
  width: 50%;
  background-color: rgb(255, 255, 255, 0%);
  border: 0;
  border-bottom: 1px solid rgb(183, 183, 183);
  padding: 0px 5px;
}

.new-item-form > button {
  width: 40px;
  border: 0;
  margin-left: 20px;
  cursor: pointer;
}


.btn-new-item {
  opacity: 30%;
  transform: rotate(180deg);
  cursor: pointer;
}

.btn-new-item:hover {
  transition: 0.2s ease-in-out;
  opacity: 60%;
}
