.Category {
  width: 400px;
  border: 2px solid grey;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 5px grey;
}

.cat-def {
  background-color: rgb(255, 255, 255);
}
.cat-red {
  background-color: rgb(255, 202, 202);
}
.cat-green {
  background-color: rgb(200, 255, 200);
}
.cat-blue {
  background-color: rgb(203, 203, 255);
}
.cat-yellow {
  background-color: rgb(255, 255, 199);
}

.cat-header {
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  padding: 5px 15px;
}

.cat-title {
  text-align: center;
}

/* .cat-color {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
} */

/* .cat-color:hover {
  background-color: grey;
} */

.cat-buttons {
  display: flex;
}

.cat-edit-btn, .cat-remove-btn {
  background-color: aqua;
  margin: 0px 10px;
}

.cat-content {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.cat-content-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.btn-new,
.btn-edit {
  margin: 5px;
  align-self: center;
  padding: 5px;
  border: 1px solid grey;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.btn-new:hover,
.btn-edit:hover {
  background-color: grey;
}




.modal {
  padding: 50px 100px;
  background-color: aqua;
}