.Chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  user-select: none;
}

#chat-btn {
  z-index: 10;
  width: 80px;
  height: 80px;
  border: 2px solid grey;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  backdrop-filter: blur(10px);

}

#chat-btn > img {
  position: relative;
  width: 200%;
  top: 10px;
  left: 5px;
  filter: grayscale(100%);
}

#chat-btn:hover {
  box-shadow: 0px 0px 15px black;
  transition: box-shadow 0.3s ease-in-out;
}

#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 79px;
  right: 40px;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border: 2px solid grey;
  backdrop-filter: blur(10px);
  padding: 10px;
  padding-right: 5px;
}

.chat-scroll {
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: column;
  overflow-y: auto;
  padding-right: 5px;
}

#chat-msgs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chatOpen {
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.chatClosed {
  transform: translateX(330px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.msg {
  padding: 5px;
  border-radius: 5px;
  margin: 3px 0px;
  max-width: 175px;
  word-break: keep-all;
}

.user {
  background-color: rgb(195, 233, 201);
  border: 1px solid gray;
  align-self: flex-start;
}

.advisor {
  background-color: rgb(239, 189, 142);
  border: 1px solid gray;
  align-self: flex-end;
}

#chat-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#chat-form > input {
  width: 100%;
  border: 0;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
}

#chat-form > button {
  width: 30px;
  padding: 5px;
  background-color: rgb(170, 170, 170);
  border: 0;
  border-radius: 0px 5px 5px 0px;
  color: white;
  cursor: pointer;
}

#chat-form > button:hover {
  background-color: rgb(100, 100, 100);
}

.isTyping {
  font-size: small;
  font-style: italic;
}

.chat-from {
  font-size: smaller;
  align-self: flex-end;
}

.from-advisor {
  align-self: flex-end;

}