.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none
}

#dashboard-header {
  width: 825px;
  display: flex;
  justify-content: space-between;
}

#welcome-msg {
  margin: 70px 0px 0px;
}

#dashboard-adjustments {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 80px;
  border: 2px solid grey;
  border: 0;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
}

#dashboard-pool {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px;
  gap: 25px;
}

.new-cat-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

#input-new-cat {
  border: 0;
  height: 40px;
  font-size: medium;
  padding-left: 10px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
}

.btn-new-cat {
  position: absolute;
  right: 10px;
  opacity: 20%;
  cursor: pointer;
}

.btn-new-cat:hover {
  opacity: 60%;
  transition: 0.2s ease-in-out;
}

#dashboard-empty {
  margin-top: 400px;
  opacity: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#lama1 {
  z-index: -1;
  position: absolute;
  width: 300px;
  filter: grayscale(100%);
  right: 50px;
  top: -350px;
  opacity: 50%;
}

.lama-shake {
  animation: shaking 2s infinite ease-in-out;
}

@keyframes shaking {
  0% {
    transform: scaleX(-1) rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  0% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 875px) {

  #dashboard-header {
    display: flex;
    width: 375px;
    flex-direction: column;
    align-items: center;
  }

  #dashboard-adjustments {
    margin: 0;
    position: absolute;
    width: 150px;
    top: 68px;
    transform: translateX(158px);
  }

  #dashboard-adjustments>h4 {
    display: none;
  }


  #dashboard-adjustments {
    height: 30px;
    width: 40px;
  }
}

@media only screen and (max-width: 500px) {

  #dashboard-adjustments {
    margin: 0;
    position: absolute;
    top: 68px;
    transform: translateX(133px);
  }

  #dashboard-pool {
    width: 375px;
  }

}