.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboard-header {
  width: 825px;
  display: flex;
  justify-content: space-between;
}

#welcome-msg {
  margin: 50px 0px 0px;
}

#dashboard-adjustments {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 60px;
  border: 2px solid grey;
  border: 0;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
  background-color: rgb(198, 198, 198);
}

#dashboard-pool {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px;
  gap: 25px;
}

.new-cat-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

#input-new-cat {
  border: 0;
  height: 40px;
  font-size: medium;
  padding-left: 10px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
}

.btn-new-cat {
  position: absolute;
  right: 10px;
  opacity: 20%;
  cursor: pointer;
}

.btn-new-cat:hover {
  opacity: 60%;
  transition: 0.2s ease-in-out;
}
