.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#home-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  gap: 100px;
}

#home-left {
  margin-top: 100px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#home-left > h1 {
  font-weight: 600;
  margin-bottom: 15px;
}
#home-left > h3 {
  font-weight: 300;
  /* margin: 20px 0px; */
  align-self: flex-start;
}
#home-left > .register {
  margin-top: 15px;
  font-weight: 800;
  color: black;
  background-color: rgb(227, 178, 135);
  border: 0;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#home-left > .register:hover {
  background-color: rgb(176, 138, 119);
  transition: 0.2s ease-in-out;
}

#home-right {
  margin-top: 100px;
  /* background-color: blueviolet; */
}

#lama-logo {
  display: flex;
}

#logo {
  height: 175px;
  transition: 1s ease-in-out;
}

#logo:hover {
  transform: rotate(360deg);
  transition: 1s ease-in-out;
}

#logo-text {
  font-size: 25px;
  color: rgb(134, 129, 119);
}

#logo-text > h2 {
  font-weight: 300;
}

.first-letter {
  font-weight: 800;
  color: rgb(0, 0, 0);
}

#home-down {
  margin: 70px 0px;
  display: flex;
  gap: 50px;
}

.showcase > img {
  width: 400px;
  height: 220px;
  box-shadow: 0px 2px 10px grey;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  filter: grayscale(50%);
}

.showcase {
  transition: transform 1s ease-in-out;
}

.showcase > p {
  margin-top: 10px;
}

.showcase:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

@media only screen and (max-width: 875px) {
  #home-header {
    flex-direction: column-reverse;
    gap: 0;
  }

  #home-left {
    margin-top: 60px;
    text-align: center;
    width: 450px;
  }

  .text-center {
    margin: auto;
  }

  #home-down {
    flex-direction: column;
    gap: 50px;
  }

  .showcase {
    text-align: center;
  }

  #home-left > .register {
    align-self: center;
  }
}
