.Item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.el-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.el-not-checked {
  color: rgb(0, 0, 0, 0.75);
}
.el-checked {
  color: rgb(162, 162, 162);
  text-decoration: line-through;
}

.el-date {
  font-size: small;
  color: grey;
}

.el-details {
  font-size: small;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.el-remove {
  color: rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.el-remove:hover {
  transition: 0.2s ease-in-out;
  opacity: 60%;
}
