.NavBar {
  position: fixed;
  width: 100%;
  height: 58px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  user-select: none;
  z-index: 100;
}

#nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

#nav-home {
  display: flex;
  align-items: center;
}

#nav-lama {
  height: 25px;
  /* cursor: pointer; */
  margin-right: 5px;
}

#nav-title {
  font-size: 30px;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  flex-shrink: 1;
}

a {
  color: rgb(100, 100, 100);
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: rgb(100, 100, 100);
}

a:hover {
  color: rgb(95, 79, 56);
}

#nav-right {
  display: flex;
  align-items: center;
}

#darklight-btn {
  opacity: 50%;
  cursor: pointer;
  margin-right: 10px;
}

#darklight-btn:hover {
  opacity: 100%;
}

.log-btn {
  background-color: rgb(202, 232, 198);
  padding: 4px 15px;
  border-radius: 10px;
}

.log-btn:hover {
  background-color: rgb(195, 219, 160);
  transition: background-color 0.2s linear;
}

.out-btn {
  background-color: rgb(233, 192, 192);
}

.out-btn:hover {
  background-color: rgb(201, 159, 159);
  transition: background-color 0.2s linear;
}
